:root {
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
  line-height: calc(1em + 1vw);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-weight: 400;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  font-size: inherit;
  line-height: inherit;
  scroll-behavior: smooth;
  color: $black;
  background: $bg;
  background: $bg-gradient;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  font-weight: inherit;
  font-size: inherit;
}