.body,
.js-focus-visible {
  background: $bg-gradient;
}


/* --- header & menu styles --- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: $bg;
  background: $bg-gradient;
  border-bottom: 0.2rem solid $grey;
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95vw;
    min-height: 5rem;
    padding: 0 1.5rem;
  }
  &__logo {
    display: flex;
    flex: 1 1 auto;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem;
    position: relative;
    z-index: 5;
    border-bottom: 0.01rem solid transparent;
    &:hover {
      border-bottom: 0.1rem solid transparent;
    }
  }
  &__lang {
    z-index: 5;
    width: 5rem;
    height: 5rem;
    display: block;
    color: #000;
    padding-top: 1.7rem;
    padding-left: 3.7rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 600;
    &--toRu {
      background-image: url("/img/lang/en_icon.png");
    }
    &--toEn {
      background-image: url("/img/lang/ru_icon.png");
    }
  }
}

.menu {
  &__icon {
    display: none;
  }
  &__link {
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem;
    border-bottom: 0.01rem solid transparent;
    &:hover {
      border-bottom: 0.2rem solid $blue;
    }
  }
  &__list {
    &>li {
      position: relative;
      margin-left: 2rem;
    }
  }
}


/* --- pc / touch begin --- */

body {
  &._pc {}
  &._touch {
    & .menu__link {
      flex: 1 1 auto;
    }
    & .menu__list>li {
      display: flex;
      align-items: center;
    }
  }
}


/* --- pc / touch end --- */


/* --- media begin --- */

@media (min-width: 768px) {
  .menu__list {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    display: block;
    content: "";
    width: 2.5rem;
    height: 0.35rem;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
    background-color: $black;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: -1rem;
  }
  .menu__icon::after {
    bottom: -1rem;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::before {
    top: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  .menu__icon._active::after {
    top: 0;
    transform: rotate(45deg) translate(0, 0);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $bg;
    background-color: $bg-gradient;
    padding: 1rem;
    padding-top: 6rem;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
    text-align: center;
  }
  .menu__body._active>li {
    padding: 2rem;
    box-shadow: 0 0 0.5rem 0.1rem $blue;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    background-color: $bg;
    background-color: $bg-gradient;
    z-index: 2;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__list>li {
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 3rem;
  }
  .menu__list>li:last-child {
    margin-bottom: 0;
  }
}


/* --- media end --- */


/* --- header & menu styles end --- */


/* --- main section styles begim --- */

.section {
  max-width: 95vw;
}

.title {
  color: $black;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.link {}

.text {}

.main {}

.about {
  margin: 1.5rem auto;
  &__subtitle {}
  &__title {
    margin-top: 10rem;
    flex-grow: 1;
  }
  &__wrapper {}
  &__text {
    padding-top: 1rem;
    padding-left: 3rem;
    background-image: url('/img/developer_icon.png');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.technologies {
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
  }
  &__item {
    margin: 0.5rem;
  }
}

.technology {
  display: block;
  min-width: 10rem;
  max-width: 15rem;
  min-height: 5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: $bg;
  background: $bg-gradient;
  border: 0.1rem solid $grey;
  text-align: center;
  &__img {
    width: 4rem;
    height: 4rem;
  }
  &__text {
    color: inherit;
    font-size: inherit;
  }
}

.certificats {
  &__wrapper {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.certificat {
  display: block;
  @media (min-width: 270px) {
    max-width: 95%;
  }
  @media (min-width: 768px) {
    max-width: 10rem;
  }
  &__img {
    margin: 1.1rem auto;
    display: block;
    width: 100%;
    border: 0.1rem solid $black;
    border-radius: 1rem;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
  &__link {}
}

.works {
  &__item {
    margin: 1rem;
    border: 0.05rem solid transparent;
    box-shadow: 0 0 0.2rem 0.1rem $bg;
    background: $grey;
  }
  &__subtitle {}
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
}

.work {
  background: $bg;
  background: $bg-gradient;
  display: flex;
  flex-direction: column;
  border: 0.06rem solid transparent;
  box-shadow: 0 0 0.5rem 0.1rem $grey;
  @media (min-width: 270px) {
    max-width: 95%;
  }
  @media (min-width: 768px) {
    max-width: 46%;
  }
  &__img {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 0.06rem solid transparent;
    box-shadow: 0 0 0.5rem 0.1rem $grey;
  }
  &__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  &__link {
    color: $black;
    margin: 1rem auto;
    text-align: center;
    width: 15rem;
    padding: 0.5rem;
    border: 0.1rem solid transparent;
    box-shadow: 0 0 0.1rem 0.1rem $black;
    text-transform: uppercase;
    @media (min-width: 1200px) {
      margin: 1rem;
    }
    &:hover,
    &:focus {
      border: 0.1rem solid transparent;
      background-color: $blue;
      color: $white;
      box-shadow: 0 0 0.1rem 0.01rem $grey;
      opacity: 0.8;
    }
  }
  &__text {
    padding: 1rem;
    font-weight: 500;
    flex: 1 1 auto;
  }
  &__title {
    color: $black;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem 0.1rem $grey;
  }
}


/* --- main section styles end --- */


/* --- footer styles begin --- */

.footer {
  border-top: 0.2rem solid $grey;
  &__subtitle {
    padding: 1rem;
    text-align: center;
  }
  &__contacts {}
}

.contacts {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  &__item {}
  &__link {
    display: block;
    color: $black;
    padding-left: 4rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid transparent;
    background-size: 2rem;
    background-repeat: no-repeat;
    &:hover,
    &:focus {
      border-bottom: 0.2rem solid $blue;
      transform: scale(1.1);
    }
    &--email {
      background-image: url("/images/contacts/email_icon.png");
    }
    &--github {
      background-image: url("/images/contacts/github_logo.png");
    }
    &--codepen {
      background-image: url("/images/contacts/codepen_logo.png");
    }
  }
}


/* --- footer styles end --- */