-
  const worksList = [
    {
      "title" : "Tribute Page",
      "titleRu" : "Страница - дань уважения",
      "description" : "Tribute Page, first project on course from www.freecodecamp.org \"Responsive Web Design\". It was necessary to create an intro-page, I\'ve decided to dedicate it for my favourite music group \"FFDP\".",
      "descriptionRu" : "Страница - дань уважения, первый проект на курсе www.freecodecamp.org \"Адаптивный веб-дизайн\". Нужно было создать страницу на такую тему, и я решила посвятить ее своей любимой музыкальной группе \"FFDP\".",
      "imgSrc" : "img/portfolio_preview_img/001_tribute_page_FFDP.png",
      "imgAlt" : "Tribute Page, first project, favourite music FFDP",
      "imgAltRu" : "Страница - дань уважения, первый проект, любимая музыка FFDP",
      "previewLink" : "https://codepen.io/marinmar/full/BaWjENB",
      "codeLink" : "https://codepen.io/marinmar/pen/BaWjENB",
    },
    {
      "title" : "Survey Form",
      "titleRu" : "Форма опроса",
      "description" : "Survey Form, second project on course from www.freecodecamp.org \"Responsive Web Design\". It was necessary to create Survey Form, I\'ve decided to do concept of a newsletter signup form for a website, such as a music group.",
      "descriptionRu" : "Форма опроса, второй проект на курсе www.freecodecamp.org \"Адаптивный веб-дизайн\". Нужно было создать форму опроса, и я решила сделать форму подписки на новости сайта музыкальной группы.",
      "imgSrc" : "img/portfolio_preview_img/002_newsletter_signup_form.png",
      "imgAlt" : "Survey Form, second project, concept of a newsletter signup form for a music group website",
      "imgAltRu" : "Форма опроса, второй проект, форма подписки на новости сайта музыкальной группы",
      "previewLink" : "https://codepen.io/marinmar/full/YzZwmzR",
      "codeLink" : "https://codepen.io/marinmar/pen/YzZwmzR"
    },
    {
      "title" : "Product Landing Page",
      "titleRu" : "Целевая страница (Лэндинг)",
      "description" : "Product Landing Page, third project on course from www.freecodecamp.org \"Responsive Web Design\". It was necessary to create Product Landing Page, I\'ve decided to do the agency\'s page for choosing homes in resort areas. This is a landing page with video and cards of the advantages of houses, and a feedback form. (All possible matches are random, the content is fictional.)",
      "descriptionRu" : "Целевая страница (Лэндинг), третий проект на курсе www.freecodecamp.org \"Адаптивный веб-дизайн\". Нужно было создать целевую страницу (лэндинг), и я решила сделать страницу агентства по выбору домов на курортах. Это лендинг с видео, карточками преимуществ домов и формой обратной связи. (Все совпадения случайны, контент вымышленный.)",
      "imgSrc" : "img/portfolio_preview_img/003_product_landing_page.png",
      "imgAlt" : "Survey Form, second project, concept of a newsletter signup form for a music group website",
      "imgAltRu" : "Целевая страница (Лэндинг), третий проект, лэндинг агентства по выбору домов на курортах",
      "previewLink" : "https://codepen.io/marinmar/full/jOBqqaK",
      "codeLink" : "https://codepen.io/marinmar/pen/jOBqqaK"
    },
    {
      "title" : "Technical Documentation Page",
      "titleRu" : "Страница технической документации",
      "description" : "Technical Documentation Page, fourth project on course from www.freecodecamp.org \"Responsive Web Design\". It was necessary to create Technical Documentation Page, I\'ve decided to do a description of AJAX. This is an interpretation of what the documentation might looks like. Information from MDN Web Docs (Web Technology for Developers - Developer Guides - Ajax).",
      "descriptionRu" : "Страница технической документации, четвертый проект на курсе www.freecodecamp.org \"Адаптивный веб-дизайн\". Нужно было создать страницу технической документации, и я решила сделать про технологию AJAX. Это интерпретация документации с сайта MDN Web Docs (Веб технологии для разработчиков - Руководство разработчика - Ajax).",
      "imgSrc" : "img/portfolio_preview_img/004_technical_documentation_page.png",
      "imgAlt" : "Technical Documentation Page, fourth project, about AJAX from MDN",
      "imgAltRu" : "Страница технической документации, четвертый проект, об AJAX на MDN",
      "previewLink" : "https://codepen.io/marinmar/full/eYvzyrW",
      "codeLink" : "https://codepen.io/marinmar/pen/eYvzyrW"
    },
    {
      "title" : "Landing page for web-photographer",
      "titleRu" : "Лэндинг для фотографа",
      "description" : "Landing page (portfolio) for web-photographer. Template was from psd.",
      "descriptionRu" : "Целевая страница (лэндинг, портфолио) для фотографа. Макет из psd.",
      "imgSrc" : "img/portfolio_preview_img/005_web_portfolio.png",
      "imgAlt" : "Landing page for web-photographer",
      "imgAltRu" : "Целевая страница (лэндинг, портфолио) для фотографа",
      "previewLink" : "https://marin-mar.github.io/001_marin-mar_photoportfolio.github.io/",
      "codeLink" : "https://github.com/marin-mar/001_marin-mar_photoportfolio.github.io"
    },
    {
      "title" : "Landing page for Music Festival",
      "titleRu" : "Целевая страница (лэндинг) для музыкального фестиваля",
      "description" : "Landing page for Music Festival. Template was from psd.",
      "descriptionRu" : "Целевая страница (лэндинг) для музыкального фестиваля. Макет из psd.",
      "imgSrc" : "img/portfolio_preview_img/006_music_festival.png",
      "imgAlt" : "Landing page for Music Festival",
      "imgAltRu" : "Целевая страница (лэндинг) для музыкального фестиваля",
      "previewLink" : "https://marin-mar.github.io/002_marin-mar_music_festival.github.io/",
      "codeLink" : "https://github.com/marin-mar/002_marin-mar_music_festival.github.io"
    },
    {
      "title" : "Landing page for Interior Design Studio",
      "titleRu" : "Целевая страница (лэндинг) для Студии Интерьеров",
      "description" : "Landing page for Interior Design Studio from Maraphone \"Zaverstayou 2.0\" of HTML-Academy, template from Figma.",
      "descriptionRu" : "Целевая страница (лэндинг) для Студии Интерьеров. Задание и шаблон с Марафона \"Заверстаю 2.0\" от HTML-Academy. Макет из Figma.",
      "imgSrc" : "img/portfolio_preview_img/007_marafon_zaverstayou.png",
      "imgAlt" : "Landing page for Interior Design Studio",
      "imgAltRu" : "Целевая страница (лэндинг) для Студии Интерьеров",
      "previewLink" : "https://marin-mar.github.io/003_marin-mar_marafon_zaverstayu.github.io/",
      "codeLink" : "https://github.com/marin-mar/003_marin-mar_marafon_zaverstayu.github.io"
    },
    {
      "title" : "Landing page for Studio of Yoga",
      "titleRu" : "Целевая страница (лэндинг) для Студии Йоги",
      "description" : "Landing page for Studio of Yoga, template was from PSD.",
      "descriptionRu" : "Целевая страница (лэндинг) для Студии Йоги. Макет из PSD.",
      "imgSrc" : "img/portfolio_preview_img/008_yoga_landing.png",
      "imgAlt" : "Landing page for Studio of Yoga",
      "imgAltRu" : "Целевая страница (лэндинг) для Студии Йоги",
      "previewLink" : "https://marin-mar.github.io/004_marin-mar_yoga_landing.github.io/",
      "codeLink" : "https://github.com/marin-mar/004_marin-mar_yoga_landing.github.io"
    },
    {
      "title" : "Start page for INEFF",
      "titleRu" : "Целевая страница (лэндинг) для INEFF",
      "description" : "Start page for INEFF, template from Figma.",
      "descriptionRu" : "Целевая страница (лэндинг) для INEFF. Макет из Figma.",
      "imgSrc" : "img/portfolio_preview_img/009_ineff_page.png",
      "imgAlt" : "Start page for INEFF",
      "imgAltRu" : "Целевая страница (лэндинг) для INEFF",
      "previewLink" : "https://marin-mar.github.io/005_marin-mar_ineff_page.github.io/",
      "codeLink" : "https://github.com/marin-mar/005_marin-mar_ineff_page.github.io"
    }
  ]


