-
  const certificatsList = [
    {
      'certificatLink' : 'https://www.freecodecamp.org/certification/marinmar/responsive-web-design',
      'certificatImgLink' : 'img/certificats/003_freeCodeCamp.org_Responsive_Web_Design.png',
      'certificatImgAlt' : 'freeCodeCamp.org Responsive Web Design Developer Certification'
    },
    {
      'certificatLink' : 'https://www.freecodecamp.org/certification/marinmar/javascript-algorithms-and-data-structures',
      'certificatImgLink' : 'img/certificats/004_freeCodeCamp.org_JavaScript_Algorithms_and_Data_Structures.png',
      'certificatImgAlt' : 'freeCodeCamp.org JavaScript Algorithms and Data Structures Certification'
    },
    {
      'certificatLink' : 'img/certificats/002_Online-college_Layout_design.png',
      'certificatImgLink' : 'img/certificats/002_Online-college_Layout_design.png',
      'certificatImgAlt' : 'Online college Skillfactory Layout design Certification'
    },
    {
      'certificatLink' : 'https://stepik.org/cert/752688',
      'certificatImgLink' : 'img/certificats/001_Stepik.org_Web_development_for_beginners.png',
      'certificatImgAlt' : 'Stepik.org Web development: HTML and CSS Certification'
    },
  ]
