-
  const technologiesList = [
    {
      "imgSrc" : "/img/technologies/001_html_logo.png",
      "imgAlt" : "html-5-logo",
      "description" : "HTML"
    },
    {
      "imgSrc" : "/img/technologies/002_css_logo.png",
      "imgAlt" : "css-3-logo",
      "description" : "CSS"
    },
    {
      "imgSrc" : "/img/technologies/003_pug_logo.png",
      "imgAlt" : "pug-logo",
      "description" : "PUG"
    },
    {
      "imgSrc" : "/img/technologies/004_sass_logo.png",
      "imgAlt" : "sass-logo",
      "description" : "SCSS/SASS"
    },
    {
      "imgSrc" : "/img/technologies/005_javascript_logo.png",
      "imgAlt" : "javascript",
      "description" : "JS"
    },
    {
      "imgSrc" : "/img/technologies/006_npm_logo.png",
      "imgAlt" : "npm_logo",
      "description" : "NPM"
    },
    {
      "imgSrc" : "/img/technologies/007_gulp_logo.png",
      "imgAlt" : "gulp_logo",
      "description" : "GULP"
    },
    {
      "imgSrc" : "/img/technologies/008_github_logo.png",
      "imgAlt" : "github_logo",
      "description" : "GITHUB"
    },
    {
      "imgSrc" : "/img/technologies/009_photoshop_logo.png",
      "imgAlt" : "photoshop",
      "description" : "PHOTOSHOP"
    },
    {
      "imgSrc" : "/img/technologies/010_figma_logo.png",
      "imgAlt" : "figma",
      "description" : "FIGMA"
    },
    {
      "imgSrc" : "/img/technologies/011_pixel_perfect_icon.png",
      "imgAlt" : "pixel_perfect",
      "description" : "Pixel Perfect"
    },
    {
      "imgSrc" : "/img/technologies/012_crossbrowser_icon.png",
      "imgAlt" : "crossbrowser",
      "description" : "Cross-browser"
    },
  ]



