//- - const siteVersion = '0.0.0.0'
- const siteName = "marin-mar.github.io"
- const siteDescription = "Personal portfolio webpage from web developer marinmar"
- const siteDescriptionRu = "Веб-портфолио верстальщика marinmar"
