header.header#header
  .container
    .header__wrapper.wrapper
      a.header__logo.link(href="#") marinmar
      .header__menu.menu
        .menu__icon
          span
        nav.menu__body
          ul.menu__list
            li.menu__item
              a.menu__link.link(href="#about", data-goto="#about") About
            li.menu__item
              a.menu__link.link(href="#works", data-goto="#works") Works
            li.menu__item
              a.menu__link.link(href="#contacts", data-goto="#contacts") Contacts
      .header__lang.header__lang--toRu
        a.menu__link.link(href="index--ru.html") RU
